/*---------------------------------------------------Header*/
.navbar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.logo {
    margin-right: 150px;
    padding: 40px 10px 40px 10px;
}
/*---------------------------------------------------Hero-Section*/
.hero-section {
    background-color: #000;
}
.hero {
    position: relative;
   /* background-color: #000;*/
    height: 100vh;
    display: flex;
    
}
.hero h1 {
    font-size: 72px;
    color: #fff;
}
.d-md-flex.col-md-4.hero-backround /* floating image on hero background */ { 
    position: absolute;
    top:0;
    right:0;
    color: #fff;
}
.hero-backround img {
    position: absolute;
    top:30%;
    right: 0;
}
.scroll-request {
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: -100px;
}
.hero-image  {
    transition: all 1.7s ease-in-out;
}
.hero-image:hover {
    transform: scale(0.9);
    
}
/*---------------------------------------------------Footer*/
footer {
    background-color: #000;
    margin:0;
}
.footer-socials {
    margin-top: 40px;
}
.footer-socials i{
    margin-right: 30px;
    font-size: 28px;
    color: #c7c7c7;
    transition: all 0.5s ease-in-out;
}
.footer-socials i:hover {
    color:#fff;
}
/*---------------------------------------------------Media Queries*/
@media screen and (max-width: 900px) {
    .hero h1 {
        font-size: 42px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }
}
@media (max-width: 767px) {
    .hero {
        align-content: center;
    }
}
