body {
    background: #000;
}
h1,h2,h3,h4,h5,h6,p {
    color: #fff;
}
.section-heading {
    margin-bottom: 50px;
}
/*--------------------------------------------Header*/
.navbar {
    /*position: absolute;*/
    left: 0;
    top: 0;
    z-index: 1;
}
.logo {
    margin-right: 150px;
    padding: 40px 10px 40px 10px;
    margin: 0 auto;
}
.navbar-dark .navbar-toggler {
    margin: 0 auto;
    border: none;
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
    text-align: center;
}
/*---------------------------------------------------Hero-Section*/
.hero-section {
    background-color: #000;
}
.hero {
    position: relative;
   /* background-color: #000;*/
    height: 88vh;
    display: flex;
  
}
.hero h1 {
    font-size: 24px;
    color: #fff;
    text-shadow: 3px 3px 12px #000;
    margin-top: 60px;
}
.d-md-flex.col-md-4.hero-backround /* floating image on hero background */ { 
    position: absolute;
    top:0;
    right:0;
    color: #fff;
}
.hero-backround img {
    position: absolute;
    top:2%;
    right: 0;
    height: 75vh;
}
.scroll-request {
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: -100px;
}
.hero-image  {
    transition: all 1.7s ease-in-out;
}
.hero-image:hover {
    transform: scale(0.95);
    
}
/*---------------------------------------------------Work*/
#work {
    margin-bottom: 50px;
}
/*---------------------------------------------------Gallery*/
.gallery-item {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.gallery-item img {
    width: 100%;
}
.lightboxgallery-gallery-item > div:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.3) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 100%);
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}
.lightboxgallery-gallery-item:hover > div:after {
  opacity: 1;
}
.gallery-item .lightboxgallery-gallery-item-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}
.lightboxgallery-gallery-item:hover .lightboxgallery-gallery-item-content {
  opacity: 1;
}

.lightboxgallery-gallery-item-title {
  display: inline-block;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 1px;
}
/*---------------------------------------------------How we Work*/
.step-number {
    
}
.step-text {
    margin-top: 30px;
    border-top: solid 2px #fff;
    padding-top: 20px;
    color: #b9b9b9;
}
/*---------------------------------------------------Team*/
.team-wrap {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
}
.team-wrap p {
    color: #b9b9b9;
}
/*---------------------------------------------------Footer*/
footer {
    background-color: #000;
}
.footer-socials {
    margin-top: 40px;
    text-align: center;
}
.footer-socials i{
    padding: 0px 15px 0px 15px;
    font-size: 28px;
    color: #c7c7c7;
    transition: all 0.5s ease-in-out;
}
.footer-socials i:hover {
    color:#fff;
}
footer .logo {
    margin-left: 12px;
}
/*---------------------------------------------------Back to top*/
.backTopwrap {
    position: absolute;
}
.back-to-top {
    width: 100%;
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 0px;
    display:none;
    background-color: #363636;
    color: rgb(209, 209, 209);
    border-radius: 0;
}
/*---------------------------------------------------Contact */
#contact {
    padding: 100px 0 100px 0;
    margin-left: 15px;
}
#contact label {
    color: #c7c7c7;
}
#contact input, #contact textarea {
    border-radius: 0;
    background-color: #000;
}
.contact-content, {
   /* padding: 12px; */
}
.contact-content p {
    color: #c7c7c7;
}
.form-control {
    color: #c7c7c7;
}
.form-control:focus {
    color: #c7c7c7;
}
.contact-form h2 {
    margin-bottom: 30px;
}
.btn-contact {
    border: 1px solid #fff;
    background: #000;
    border-radius: 0;
}
.contact-content-sucess {
    padding: 80px 0 80px 0;
    height: 50vh;
}
.form-group {
    padding-right: 15px;
}
.form-group .col-sm-10, .form-group .col-sm-2 {
    padding-left: 0 !important;
}
/*---------------------------------------------------Media Queries */
@media (min-width: 768px) {
    .hero {
        align-content: unset; 
    }
    .hero h1 {
        font-size: 48px;
        margin-top: 0;
    }
    .footer-socials {
        text-align: right;
    }
    .back-to-top {
        width: 100px;
        cursor: pointer;
        position: fixed;
        right: 5px;
        bottom: 120px;
        display:none;
        background-color: #363636;
        color: rgb(209, 209, 209);
        border-radius: 0;
        font-size: 12px;
    }
}
@media (min-width: 992px) {
    .hero h1 {
        font-size: 52px;
    }
}
@media (min-width: 1199px) {
    .gallery-item {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .hero h1 {
        font-size: 72px;
    }
    .container {
        max-width: 1600px;
    }
    .gallery-item {
        width: 33%;
    }
    #work, #team, #how-we-work {
        padding: 100px 0 100px 0;
    }
}





